* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  gap: 0;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.img-wrapper {
  width: 100%;
  overflow: hidden;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin: 0 -3.8rem;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.img-wrapper img:nth-child(2) {
  object-fit: cover;
  object-position: left;
}

.img-wrapper:first-of-type {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.img-wrapper:last-of-type {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.logo {
  position: absolute;
  width: 15rem;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.logo img {
  width: 100%;
}

.img-wrapper:nth-child(2) img {
  object-fit: cover;
  object-position: right;
}
.img-wrapper:nth-child(3) img {
  object-fit: cover;
  object-position: right;
}
.img-wrapper:nth-child(4) img {
  object-fit: cover;
  object-position: right;
}
