* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0em;
}

/* #region container/img-wrapper */

.container {
  position: fixed;
  top: 0;
  display: flex;
  gap: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* #region sign up */

.nav-main {
  display: flex;
  justify-content: flex-end;
}

.signup {
  position: relative;
  width: 300px;
  overflow: hidden;
  z-index: 1;
}

.signup img {
  width: 100%;
  display: block;
}

.signup a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #c9aa71;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 0 0.3125rem black, 0 0.0625rem 0.3125rem black;
  transition: color 0.3s, text-shadow 0.3s;
  z-index: 1;
}

.signup a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(255, 200, 61, 0.5) -70%,
    rgba(255, 200, 61, 0) 75%
  );
  transition: opacity 0.3s, box-shadow 0.3s;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  pointer-events: none;
}

.signup a:hover::before {
  opacity: 1;
}

.signup a:hover {
  color: #ddd;
  text-shadow: 0 0 0.5rem black, 0 0.125rem 0.5rem black;
}

/* #endregion */

/* #region Form */
.form-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 9998;
}

.form-container form {
  position: relative;
  z-index: 9999;
}

.form-container form fieldset {
  padding: 40px;
  background: #abdafd77;
  border-radius: 20px;
  margin: 10px auto;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border: none;
}

.form-container form header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #989898;
}

.form-container form a {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #261c15;
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container form a:hover {
  background-color: #2c86b9;
  transform: scale(1.1);
}

.form-container form label {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 5px;
}

.form-container form input,
.form-container form select {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #333;
  box-sizing: border-box;
  font-size: 1.1rem;
  color: #000000;
  transition: border-color 0.3s ease;
}

.form-container form input:focus,
.form-container form select:focus {
  outline: none;
}

.form-container form button {
  background-color: #2c86b9;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.form-container form button:hover {
  background-color: #0056b3;
}

/* #endregion */

.img-wrapper {
  width: 100%;
  overflow: hidden;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin: 0 -5%;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.img-wrapper:first-of-type {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.img-wrapper:last-of-type {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.img-wrapper:nth-child(1) img {
  object-fit: cover;
  object-position: center;
}

.img-wrapper:nth-child(2) img {
  object-fit: cover;
  object-position: 85% 50%;
}

.img-wrapper:nth-child(3) img {
  object-fit: cover;
  object-position: 80%;
}

.img-wrapper:nth-child(4) img {
  object-fit: cover;
  object-position: 80%;
}

/* #endregion */

/* #region logo */
.logo {
  position: fixed;
  width: 20%;
  min-width: 16rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  position: relative;
  width: 100%;
}

.logo .logo-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo-grid div:nth-child(2) {
  clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.logo-grid div:nth-child(1) {
  clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
}

/* #endregion */

/* #region  legion */

#legion {
  position: relative;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.legion-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.legion img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}
.legion-logo {
  width: 300px;
  margin: auto;
}
/* #endregion */

/* #region  king*/
#king {
  position: relative;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.king-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.king img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}

.king-logo {
  width: 300px;
  margin: auto;
}

/* #endregion */

/* #region panda*/
#panda {
  position: relative;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panda-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panda img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}

.panda-logo {
  width: 300px;
  margin: auto;
}

/* #endregion */

/* #region dragon*/
#dragon {
  position: relative;
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.dragon-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dragon img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}

.dragon-logo {
  width: 300px;
  margin: auto;
}

iframe {
  width: 940px;
  height: 540px;
}
@media (max-width: 940px) {
  iframe {
    width: 500px;
  }
}

/* #endregion */

/* #region about */
.about {
  position: relative;
  background-color: #261c15;
  margin-top: 90.2vh;
  height: 100%;
}
.about > img {
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;
}

.about-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  text-align: center;
}
.about-container header {
  color: #c9aa71;
  font-size: larger;
  margin-bottom: 1rem;
}
.about-container article {
  color: #fff;
  font-size: larger;
}
.about-container p {
  margin: 0.5rem 0;
}

/* #endregion */

/* #region  play-now*/
.play-now {
  position: relative;
  width: 300px;
  margin: 1rem auto;
  overflow: hidden;
  z-index: 1;
}

.play-now img {
  width: 100%;
  display: block;
}

.play-now a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #c9aa71;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 0 0.3125rem black, 0 0.0625rem 0.3125rem black;
  transition: color 0.3s, text-shadow 0.3s;
  z-index: 1;
}

.play-now a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(255, 200, 61, 0.5) -70%,
    rgba(255, 200, 61, 0) 75%
  );
  transition: opacity 0.3s, box-shadow 0.3s;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  pointer-events: none;
}

.play-now a:hover::before {
  opacity: 1;
}

.play-now a:hover {
  color: #ddd;
  text-shadow: 0 0 0.5rem black, 0 0.125rem 0.5rem black;
}

/* #endregion */

/* #region scroll-down */
.scroll-down {
  position: absolute;
  top: -5.5rem;
  width: 300px;
  margin: 1rem auto;
  overflow: hidden;
}

.scroll-down img {
  width: 100%;
  display: block;
}

.scroll-down a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #c9aa71;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 0 0.3125rem black, 0 0.0625rem 0.3125rem black;
  transition: color 0.3s, text-shadow 0.3s;
  z-index: 1;
}

.scroll-down a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(255, 200, 61, 0.5) -70%,
    rgba(255, 200, 61, 0) 75%
  );
  transition: opacity 0.3s, box-shadow 0.3s;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  pointer-events: none;
}

.scroll-down a:hover::before {
  opacity: 1;
}

.scroll-down a:hover {
  color: #ddd;
  text-shadow: 0 0 0.5rem black, 0 0.125rem 0.5rem black;
}

/* #endregion */

/* #region strat */
.start {
  display: block;
  position: relative;
  background-color: #0a1020;
  padding: 2rem;
}
.start .outline {
  padding: 2.2rem;
  box-shadow: inset 1px 2px 6px #abdafd7d;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.start hgroup h3 {
  font-size: 1.5rem;
  text-shadow: 0 0 3px #000000, 0 0 5px #989898;
  color: #2c86b9;
}
.start hgroup h4 {
  color: #eeeeeea8;
}
.start i {
  font-size: 3rem;
  color: #abdafd7d;
  transition: 0.5s ease-in-out;
}
.start i:hover {
  transform: scale(1.1);
}
/* #endregion */

/* #region realm */
.realm {
  position: relative;
  background-color: #261c15;
  height: 100%;
}
.realm img {
  display: block;
  width: 100%;
}
.realm div {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
  width: 500px;
}
.realm div img {
  position: relative;
}
.realm div article {
  position: absolute;
  bottom: 4.5rem;
  color: #abdafd;
  text-align: center;
  width: 500px;
  margin: auto;
}
.realm header {
  font-size: 1.5rem;
}
.realm div article p {
  color: #fff;
}
.realm hr {
  border: 1px solid #abdafd;
  margin: 0.5rem 3.5rem;
}
/* #endregion */

/* #region @media */

@media (max-width: 800px) {
  .img-wrapper:nth-child(1) img {
    object-fit: cover;
    object-position: 45%;
  }

  .img-wrapper:nth-child(2) img {
    object-fit: cover;
    object-position: 75%;
  }

  .img-wrapper:nth-child(3) img {
    object-fit: cover;
    object-position: 75%;
  }

  .img-wrapper:nth-child(4) img {
    object-fit: cover;
    object-position: 80%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .img-wrapper:nth-child(2) img {
    object-fit: cover;
    object-position: 75%;
  }
}
/* #endregion */
